
.navbar {
    background-color: #393838;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;

}

.navbar > ul {
    display: grid;
    width: 100%;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
    list-style: none;
}